GEOSAMPA_WFS_URL=https://wfs.geosampa.prefeitura.sp.gov.br/geoserver/geoportal/wfs
GEOSAMPA_ZONE_LAYER=geoportal:zoneamento_2016_map1
GEOSAMPA_ZONE_GEOM_FIELD=ge_poligono
GEOSAMPA_LOTE_LAYER=geoportal:lote_cidadao
GEOSAMPA_LOTE_GEOM_FIELD=ge_poligono
GEOSAMPA_LOTE_FIELD_SETOR=cd_setor_fiscal
GEOSAMPA_LOTE_FIELD_QUADRA=cd_quadra_fiscal
GEOSAMPA_LOTE_FIELD_LOTE=cd_lote
GEOSAMPA_LOTE_FIELD_DIGITO=cd_digito_sql
GEOSAMPA_FIELD_ZONA_SIGLA=txt_sigla
GEOSAMPA_FIELD_ZONA_NOME=tx_zoneamento_perimetro
GEOSAMPA_FIELD_LEGISLA=
GEOSAMPA_FIELD_LEGISLA_TIPO=cd_tipo_legislacao_zoneamento
GEOSAMPA_FIELD_LEGISLA_NUMERO=cd_numero_legislacao_zoneamento
GEOSAMPA_FIELD_LEGISLA_ANO=an_legislacao_zoneamento
GEOSAMPA_FIELD_COEF=
GEOSAMPA_FIELD_RECUO=
GEOSAMPA_FIELD_GABARITO=
GEOSAMPA_FIELD_TAXA=
GEOSAMPA_FIELD_OBS=tx_observacao_perimetro
GEOSAMPA_FIELD_AREA=qt_area_terreno
GEOSAMPA_FIELD_LOGRADOURO=nm_logradouro_completo
GEOSAMPA_FIELD_NUMERO=cd_numero_porta
GEOSAMPA_FIELD_BAIRRO=
GEOSAMPA_FIELD_SUBPREFEITURA=
GEOSAMPA_SUBPREF_LAYER=geoportal:subprefeitura
GEOSAMPA_SUBPREF_GEOM=ge_poligono
GEOSAMPA_SUBPREF_FIELD_NOME=nm_subprefeitura
GEOSAMPA_DISTRITO_LAYER=geoportal:distrito_municipal
GEOSAMPA_DISTRITO_GEOM=ge_poligono
GEOSAMPA_DISTRITO_FIELD_NOME=nm_distrito_municipal
GEOSAMPA_MACRO_LAYER=geoportal:pde_macroarea_lei_18209
GEOSAMPA_MACRO_GEOM=ge_poligono
GEOSAMPA_MACRO_FIELD_NOME=nm_macroarea
GEOSAMPA_LOGRADOURO_LAYER=geoportal:segmento_logradouro
GEOSAMPA_LOGRADOURO_GEOM=ge_linha
GEOSAMPA_LOGRADOURO_FIELD_NOME=nm_logradouro
MAP_ZOOM_OUT_FACTOR=2.6
MAP_ZOOM_OUT_STEPS=3
MAP_ZOOM_OUT_WHEEL_STEPS=2
MAP_ZOOM_OUT_WHEEL_DELTA=480
GEOSAMPA_LAYER_PANEL_SELECTOR=button:has-text('Camadas'), button:has-text('Layers')
GEOSAMPA_LAYER_LOGRADOURO_TEXT=Logradouro
GEOSAMPA_LAYER_ZONEAMENTO_TEXT=Zoneamento
GEOSAMPA_PATRIMONIO_LAYER=
GEOSAMPA_PATRIMONIO_GEOM=
GEOSAMPA_PATRIMONIO_LABEL=
GEOSAMPA_MANANCIAL_LAYER=
GEOSAMPA_MANANCIAL_GEOM=
GEOSAMPA_MANANCIAL_LABEL=
GEOSAMPA_AERO_LAYER=
GEOSAMPA_AERO_GEOM=
GEOSAMPA_AERO_LABEL=
GEOSAMPA_MELHORAMENTO_LAYER=
GEOSAMPA_MELHORAMENTO_GEOM=
GEOSAMPA_MELHORAMENTO_LABEL=
